bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# custom ignores
expt/
test.db
.vscode/
debug

# vrddt
001_users.js
config.admin.toml
config.api.toml
config.cli.toml
config.web.toml
config.worker.toml
server.crt
server.key
vrddt-225521.json
